# Ignore built files and directories
dist/
node_modules/

# Ignore local configuration files
*.env

# Ignore TypeScript configuration
tsconfig.json

# Ignore npm configuration

# Ignore logs and databases
*.log
*.sqlite

# Ignore macOS system files
.DS_Store

# Ignore Visual Studio Code settings
.vscode/

# Ignore JetBrains IDE settings
.idea/

# Ignore test coverage reports
coverage/

# Ignore environment-specific files
.env.local
.env.development
.env.test
.env.production
